{%- for vrf_entry in all_vrfs %}
vrf definition {{vrf_entry.vrf_name}}
 rd {{vrf_entry.rd_number}}
 !
 {%- if vrf_entry.ipv4_enabled %}
 address-family ipv4
  route-target export {{vrf_entry.rd_number}}
  route-target import {{vrf_entry.rd_number}}
 exit-address-family
 !
 {%- endif %}
 {%- if vrf_entry.ipv6_enabled %}
 address-family ipv6
  route-target export {{vrf_entry.rd_number}}
  route-target import {{vrf_entry.rd_number}}
 exit-address-family
 {%- endif %}
{%- endfor %}
